modules/*.pth
modules/*.t7
modules/CE_detection/models/__pycache__/*

modules/Grouping_legend_mapping/ckpts/checkpoint110.pth
modules/Grouping_legend_mapping/ckpts/ckpt_30.t7
modules/Grouping_legend_mapping/ckpts/ckpt_L.t7
modules/Grouping_legend_mapping/ckpts/ckpt_L+D.t7
modules/Grouping_legend_mapping/ckpts/mlp_ckpt.t7
modules/Grouping_legend_mapping/legend_models/__pycache__/__init__.cpython-38.pyc
modules/Grouping_legend_mapping/legend_models/__pycache__/MLP.cpython-38.pyc
modules/Grouping_legend_mapping/legend_models/__pycache__/net.cpython-38.pyc
modules/Grouping_legend_mapping/post_processing/__pycache__/colour_cmp.cpython-38.pyc
modules/KP_detection/__pycache__/__init__.cpython-38.pyc
modules/KP_detection/__pycache__/utils.cpython-38.pyc
modules/KP_detection/ckpts/checkpoint110.pth
modules/KP_detection/ckpts/ckpt_30.t7
modules/KP_detection/ckpts/ckpt_L.t7
modules/KP_detection/ckpts/ckpt_L+D.t7
modules/KP_detection/ckpts/mlp_ckpt.t7
modules/KP_detection/models/__pycache__/__init__.cpython-38.pyc
modules/KP_detection/models/__pycache__/matcher.cpython-38.pyc
modules/KP_detection/models/__pycache__/my_model.cpython-38.pyc
modules/KP_detection/models/__pycache__/position_encoding.cpython-38.pyc
modules/KP_detection/models/__pycache__/potr.cpython-38.pyc
modules/KP_detection/models/__pycache__/transformer_vit.cpython-38.pyc
modules/KP_detection/models/__pycache__/transformer.cpython-38.pyc
modules/KP_detection/models/__pycache__/vision_transformer.cpython-38.pyc
modules/KP_detection/models/__pycache__/xcit.cpython-38.pyc
sample_output/det_0.png
sample_output/kp_0.png
sample_output/kp_2.png
sample_output/mapped_0.png
sample_output/mapped_1.png
sample_output/mapped_2.png
sample_output/mapped_3.png
sample_output/pred_data_0.png.json
sample_output/pred_data_1.png.json
sample_output/pred_data_2.png.json
sample_output/pred_data_3.png.json
util/__pycache__/box_ops.cpython-38.pyc
util/__pycache__/misc.cpython-38.pyc
util/__pycache__/sb_transforms.cpython-38.pyc
modules/CE_detection/ckpts/*.pth
modules/CE_detection/ckpts/*.t7

sample_output/*.png
sample_output/*.json
sample_input/*.png
weights.zip
modules/CE_detection/util/__pycache__/misc.cpython-38.pyc
