absl-py
aiohttp
aiosignal
async-timeout
beautifulsoup4
cachetools
charset-normalizer
cycler
easyocr
filelock
fonttools
frozenlist
fsspec
future
gdown
google-auth
google-auth-oauthlib
grpcio
idna
imagehash
imageio
importlib-metadata
joblib
kiwisolver
lpips
markdown
matplotlib
multidict
networkx
numpy
oauthlib
opencv-python
opencv-python-headless
pandas
pillow
protobuf
pyasn1
pyasn1-modules
pycocotools
pydeprecate
pysocks
python-bidi
pytorch-lightning
pytz
pywavelets
pyyaml
requests
requests-oauthlib
rsa
scikit-image
scikit-learn
scipy
seaborn
setuptools
soupsieve
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
threadpoolctl
tifffile
timm
torch
torch-tb-profiler
torchmetrics
torchsummary
torchvision
tqdm
typing-extensions
urllib3
werkzeug
yarl
